body {
	background: #aaa;
	text-align: center;
}

a {
	margin: 0 10px;
}

#chart {
	height: 60vh;
	width: 98vw;
	margin: 0 auto;
}

.add-stock {
	margin-bottom: -10%;
}

#stockInput {
	text-transform: uppercase;
}

.input-field label {
	color: #000 !important;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #000 !important;
	box-shadow: 0 1px 0 0 #000 !important;
}

::-webkit-input-placeholder {
	color: #030 !important;
}

::-moz-placeholder {
	color: #030 !important;
}

:-moz-placeholder {
	color: #030 !important;
}

::-ms-input-placeholder {
	color: #030 !important;
}

.stock-container {
	margin-top: -2%;
}

.card-content {
	-webkit-transition: background .3s ease-out;
	transition: background .3s ease-out;
}

.card-content:hover {
	background: #111;
}

.material-icons {
	font-size: 2.3rem !important;
}
