html {
	height: 100%;
}

body {
	background-color: #efe;
	background: -webkit-linear-gradient(top, #ebffe8 0%, #398e33 30%, #ebffe8 55%, #87d86e 100%);
	background: linear-gradient(to bottom, #ebffe8 0%, #398e33 30%, #ebffe8 55%, #87d86e 100%);
	text-align: center;
}

a {
	margin: 0 10px;
}

.row {
	margin-bottom: -20px !important;
}

.progress {
	width: 97vw !important;
	margin: 5px auto !important;
	background-color: #111 !important;
}

.progress .indeterminate {
	background-color: #398e33 !important;
}

.hidden {
	visibility: hidden;
}

.card .card-content {
	padding: 10px !important;
}

#chart {
	height: 50vh;
	width: 97vw;
	margin: 0 auto;
}

#stockInput {
	font-size: 1.7em;
	text-transform: uppercase;
}

.input-field label {
	font-size: 1.7em;
	color: #000 !important;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid #000 !important;
	box-shadow: 0 1px 0 0 #000 !important;
}

.card-content {
	-webkit-transition: background .3s ease-out;
	transition: background .3s ease-out;
}

.card-content:hover {
	background: #111;
}

.material-icons {
	font-size: 2.3rem !important;
}
